.second {
    background: #b2bac9;
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Lobster', cursive;
    max-width: 1920px;
}

.secondContainer {
    height: 100vh;
    justify-content: center;
    display: flex;
    background: #272833;
}

@media (max-width: 720px) {
    .second {
        background: #272833;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
    }
    .secondContainer {
        padding: 10px 15px 10px 15px;
        background: #eaeaec;
        width: calc(100% - 30px);
        height: auto;
    }
}