.videoContainer {
    margin-bottom: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), 5px 5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    grid-column: 1;
    video {
        width: 95%;
        border-radius: 20px;
        margin: 2% 0 2% 0;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.normal {
    direction: unset;
}

.invert {
    direction: rtl;
}

.textMobile {
    display: none;
    grid-column: 2;
    color: #eaeaec;
    width: 70%;
    height: 50%;
    padding: 5px;
    margin: auto;
    h1 {
        text-align: center;
    }
}

.text {
    @extend .textMobile;
    grid-column: 2;
    display: block;
    margin: 0 0 auto;
}

@media (max-width: 720px) {
    .videoContainer {
        margin: 0;
        width: 100%;
        box-shadow: none;
        video {
            width: 100%;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            box-shadow: 0 5px 5px #272833;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin: 0;
        }
    }
    .textMobile {
        display: block;
        color: #272833;
        width: 85%;
        h1 {
            text-align: center;
        }
    }
    .text {
        display: none;
    }
    .container {
        padding: 10px 15px 10px 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    .borderContainer {
        border: solid 3px #272833;
        border-radius: 20px;
        z-index: 199;
    }
}