body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --lightGrey: #eaeaec;
    --dark: #272833;
    --darkClear: rgba(39, 40, 51, .7);
    --solidBlack: #000;
    --chillRed: #bc4558;
    --darkGrey: #6c6d71;
    --grey: #b2bac9;
}