.container {
    font-size: larger;
    line-height: normal;
}

.mask {
    margin-right: 5px;
    display: inline-block;
    width: 1.5em;
    font-size: 1.3em;
    display: none;
}

.mic {
    margin-right: 5px;
    display: inline-block;
    width: 1em;
    font-size: 1em;
    display: none;
}

.name {
    color: #272833;
}

.profession {
    color: #bc4558;
}

.headerAbout {
    text-align: center;
    h1 {
        color: #272833;
        display: inline;
    }
    h3 {
        color: #bc4558
    }
    display: inline;
}

@media (max-width: 720px) {
    .headerAbout {
        h1 {
            color: white;
        }
        h3 {
            margin: 0;
        }
    }
    .mask {
        display: inline-block;
    }
    .mic {
        display: inline-block;
    }
    .container {
        display: block;
        text-align: center;
    }
    .name {
        color: white;
    }
}