.introImg {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    left: 0;
    object-fit: cover;
    height: 100vh;
}

@media (max-width: 720px) {
    .introImg {
        height: 100vh;
        display: flex;
        bottom: 0;
        width: 100%;
        z-index: 1;
        left: 0;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .introImg {
        bottom: 0;
        height: 150vh;
    }
}

@media (min-width: 1800px) {
    .introImg {
        bottom: 0;
        height: 250vh;
    }
}