.third {
    background: var(--darkClear);
}

.videoSection {
    width: 100%;
    margin: auto;
    padding: inherit;
}

.thirdContainer {
    padding-top: 0;
}

@media (min-width: 720px) {
    .third {
        background: var(--darkClear);
        display: block;
        align-items: center;
        margin: auto;
    }
    .thirdContainer {
        justify-content: center;
        background: var(--darkClear);
    }
    .videoSection {
        margin: auto;
        flex-wrap: wrap-reverse;
    }
}