.third {
    background: var(--dark);
}

.videoSection {
    max-width: 100%;
}

.videoSection {
    margin: auto;
    padding: inherit;
}

.thirdContainer {
    padding-top: 0;
}

@media (min-width: 720px) {
    .third {
        background: var(--lightGrey);
        max-width: 1920px;
        display: block;
        align-items: center;
        margin: auto;
    }
    .thirdContainer {
        justify-content: center;
        background: var(--lightGrey);
        padding-top: 40px;
    }
    .videoSection {
        margin: auto;
    }
}