.navbarScrollOn {
    height: 50px;
    position: fixed;
    z-index: 20;
    transition: all 200ms ease-in;
    transform: none;
    width: 100vw;
}

.navbarScrollOff {
    width: 100vw;
    position: fixed;
    height: 50px;
    z-index: 20;
    transform: translate(0, -50px);
    transition: all 200ms ease-out;
}