.separator {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover;
    background-attachment: scroll;
    background-position: top;
}

@media (min-width: 720px) {
    .separator {
        background: none;
        position: static;
        background-attachment: fixed;
        background-size: cover;
        background-attachment: fixed, fixed;
        background-position: top;
        background-repeat: no-repeat;
        height: 100vh;
        height: 35vh;
        filter: contrast(.7);
    }
}

@media (min-width: 1000px) {
    .separator {
        background-position: 50% 35%;
    }
}