.separator {
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
    background-position: top;
}

@media (min-width: 720px) {
    .separator {
        background-attachment: fixed;
        background-size: cover;
        background-attachment: fixed, fixed;
        background-position: top;
        background-repeat: no-repeat;
        height: 100vh;
        height: 35vh;
        filter: blur(5px);
    }
}