.separator {
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 720px) {
    .separator {
        height: 30vh;
        filter: blur(5px);
    }
}

@media (min-width: 1000px) {
    .separator {
        background-position: 50% 30%;
    }
}