.navbarContainer {
    background-color: white;
    opacity: 0.5;
    width: 100%;
    z-index: 50;
    align-items: center;
    justify-content: center;
    height: 50px;
    display: flex;
    margin: 0 auto;
    font-size: 1em;
    h1 {
        font-size: 1.2em;
        color: #111f4d;
    }
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.65);
}

.name {
    padding-left: 5vw;
}

.profesion {
    padding-right: 5vw;
}

@media (max-width: 720px) {
    .navbarContainer {
        opacity: 0.7;
        width: 100%;
        z-index: 50;
        align-items: center;
        height: 40px;
        display: flex;
        margin: 0 auto;
        font-size: 1em;
        h1 {
            font-size: 1em;
        }
        .profesion {
            display: none;
        }
        box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.65);
    }
}