.imgAboutContainer {
    width: 25%;
    height: 100%;
    background: #b2bac9;
    position: absolute;
    h1 {
        display: flex;
        justify-content: center;
        color: #ffcc85;
    }
    img {
        display: flex;
        height: 30%;
        margin: 60% auto auto auto;
    }
}

@media (max-width: 720px) {
    .imgAboutContainer {
        top: 2%;
        left: 5%;
        width: 90%;
        height: 96%;
        img {
            height: 20%;
            margin: 10% auto;
        }
        margin: 0;
        h1 {
            display: none;
        }
    }
}