.imgAboutContainer {
    width: 25%;
    height: 100%;
    background: #272833;
    position: absolute;
    img {
        display: flex;
        margin: 80% auto auto auto;
    }
    border-radius: 0;
}

@media (max-width: 720px) {
    .imgAboutContainer {
        top: 2%;
        left: 5%;
        width: 90%;
        height: 96%;
        background: #272833;
        img {
            height: 20%;
            margin: 10% auto;
        }
        margin: 0;
        border-radius: 20px;
    }
}