.arrow {
    position: absolute;
    width: 4em;
    z-index: 30;
    display: inline-block;
    right: 45%;
    opacity: 0.7;
    top: 89%;
    cursor: pointer;
    display: none;
}

@media (max-width: 720px) {
    .arrow {
        width: 2.5em;
    }
}