.separator {
    background-image: url("/intro/portada.jpeg");
}

.image {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1;
    left: 0;
    object-fit: cover;
    height: 100vh;
}

@media (min-width: 720px) {
    .image {
        display: flex;
        bottom: 0;
        width: 100%;
        z-index: 1;
        left: 0;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .image {
        object-position: 50% 50%;
    }
}