.intro img {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    left: 0;
    object-fit: cover;
}

@media (max-width: 720px) {
    .intro img {
        height: 100vh;
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
        left: 0;
        object-fit: cover;
    }
}