    .imgAbout {
        height: 200px;
        border-radius: 100%;
        display: flex;
        object-fit: cover;
    }
    
    @media (max-width: 720px) {
        .imgAbout {
            height: 65%;
            margin: auto;
            display: block;
        }
    }