.footer {
    background-color: var(--lightGrey);
    display: flex;
    padding-left: 85%;
    z-index: 300000;
}

.op {
    img {
        height: 35px;
    }
    z-index: 3000;
}

@media (min-width: 720px) {
    .footer {
        background: var(--dark);
        height: 40px;
        z-index: 3000;
        color: var(--lightGrey);
        .op {
            display: flex;
        }
        img {
            height: 35px;
        }
        padding-left: 95%;
        z-index: 90;
    }
}