.footer {
    background: #272833;
    height: 40px;
    z-index: 3000;
    color: #eaeaec;
    .op {
        display: flex;
    }
    img {
        height: 35px;
    }
    padding-left: 95%;
    z-index: 90;
}

@media (max-width: 720px) {
    .footer {
        background-color: #eaeaec;
        display: flex;
        padding-left: 85%;
        z-index: 300000;
    }
    .op {
        img {
            height: 35px;
        }
        z-index: 3000;
    }
}