.footer {
    background: #272833;
    height: 40px;
    z-index: 9990;
}

.op {
    img {
        height: 35px;
    }
    padding-left: 85%;
    z-index: 90;
}

@media (max-width: 720px) {
    .footer {
        background: #eaeaec;
        height: 45px;
        z-index: 80;
    }
    .op {
        img {
            height: 35px;
        }
        padding-left: 85%;
        z-index: 90;
    }
}