.introContent {
    position: absolute;
    z-index: 10;
    color: #bc4558;
    left: 1px;
    top: 50vh;
    height: 50vh;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveLeft {
    from {
        left: -1vw;
        opacity: 0;
    }
    to {
        left: 3hw;
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        top: 6vh;
        opacity: 0;
    }
    to {
        top: 0vh;
        opacity: 1;
    }
}

.firstSectionOn {
    position: relative;
    left: 4vw;
    top: 5vh;
    display: block;
    animation: moveLeft 3s ease-in-out both 1;
}

.secondSectionOn {
    position: relative;
    left: 10vw;
    top: 2vh;
    display: block;
    animation: show 3s ease-in-out both 1;
}

.thirdSectionOn {
    position: relative;
    left: 10vw;
    display: block;
    margin-top: 2vh;
    animation: moveUp 3s ease-in-out both 1;
}

.firstSectionOff {
    position: relative;
    left: 4vw;
    top: 5vh;
    display: block;
}

.secondSectionOff {
    position: relative;
    left: 10vw;
    top: 2vh;
    display: block;
}

.thirdSectionOff {
    position: relative;
    margin-top: 2vh;
    left: 10vw;
}

.firstPartFrase {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 5em;
}

.secondPartFrase {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
}

.thirdPartFrase {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}

.fourthPartFrase {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

.fifthPartFrase {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
}

@media (max-width: 720px) {
    .introContent {
        left: 1px;
        top: 35vh;
        color: #bc4558;
    }
    .firstPartFrase {
        font-size: 3em;
    }
    .secondPartFrase {
        font-size: 2em;
    }
    .thirdPartFrase {
        font-size: 1.7em;
    }
    .fourthPartFrase {
        font-size: 1em;
    }
    .fifthPartFrase {
        font-size: 1.2em;
    }
}