.icons {
    display: flex;
    justify-content: center;
    ul {
        height: auto;
        margin-top: auto;
        padding-top: 10px;
    }
    li {
        list-style-type: none;
        display: inline-block;
        padding-left: 10px;
        cursor: pointer;
    }
}

.twitter {
    margin-right: 5px;
    display: inline-block;
    width: 1.5em;
    line-height: 2em;
}

.facebook {
    margin-right: 5px;
    display: inline-block;
    width: 1.5em;
    line-height: 2em;
}

.linkedIn {
    @extend .facebook;
    width: 1.4em;
}

.instagram {
    display: inline-block;
    width: 1.4em;
    line-height: 2em;
}

.youtube {
    display: inline-block;
    width: 1.8em;
    line-height: 2em;
}

@media (max-width: 720px) {
    .icons {
        ul {
            height: auto;
            margin-top: auto;
            padding: 0;
        }
        li {
            list-style-type: none;
            display: inline-block;
            padding-left: 10px;
            cursor: pointer;
        }
    }
    .twitter {
        margin-right: 0;
    }
    .facebook {
        margin-right: 0;
    }
}