.icons {
    display: flex;
    justify-content: center;
    ul {
        height: auto;
        margin-top: auto;
        padding: 0;
    }
    li {
        list-style-type: none;
        display: inline-block;
        padding-left: 10px;
        cursor: pointer;
    }
}

.twitter {
    width: 1.5em;
}

.facebook {
    width: 1.5em;
}

.instagram {
    width: 1.4em;
}

@media (min-width: 720px) {
    .icons {
        ul {
            padding-top: 10px;
        }
    }
}