.footer {
    display: none;
}

@media (max-width: 720px) {
    .container {
        background: #eaeaec;
        width: 101%;
    }
    .footer {
        display: flex;
        z-index: 200;
        align-items: center;
        justify-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10px;
        left: 0;
    }
}