.imgContainer {
    width: 100%;
    position: relative;
    z-index: 1;
    left: 0;
    object-fit: cover;
    height: 100vh;
}

@media (max-width: 720px) {
    .imgContainer {
        display: flex;
        bottom: 0;
        width: 100%;
        z-index: 1;
        left: 0;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .imgContainer {
        object-position: 50% 20%;
    }
}

@media (min-width: 1800px) {
    .imgContainer {
        object-position: 50% 20%;
    }
}